<div class="container-fluid">
  <div class="row justify-content-cenetr">
    <div class="col-md-3"></div>
    <div class="col-md-6 text">
      <p>マイページ</p>
      <table>
        <tr>
          <th>登録情報</th>
          <th><%= link_to "編集する", edit_information_path, class: "btn btn-outline-success btn-block btn-success mx-auto d-block w-50 size" %></th>
        </tr>
      </table>
      <table class="table table-bordered mt-5">
        <tr>
          <th class="thead">氏名</th>
          <th><%= @user.last_name %><%= @user.first_name %></th>
        </tr>
        <tr>
          <th class="thead">カナ</th>
          <th><%= @user.last_name_kana %><%= @user.first_name_kana %></th>
        </tr>
        <tr>
          <th class="thead">メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
      </table>
      <table class="mt-5">
        <tr>
          <th>投稿レシピ一覧</th>
          <th><%= link_to "一覧を見る", resumes_path, class: "btn btn-outline-primary btn-block btn-primary mx-auto d-block w-50 size" %></th>
        </tr>
        <tr>
          <th>投稿履歴</th>
          <th><%= link_to "一覧を見る", resume_path, class: "btn btn-outline-primary btn-block btn-primary mx-auto d-block w-50 size" %></th>
        </tr>
        <tr>
          <th>コメント投稿履歴</th>
          <th><%= link_to "一覧を見る", edit_resume_path, class: "btn btn-outline-primary btn-block btn-primary mx-auto d-block w-50 size" %></th>
        </trv>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
