<div class="container-fluid">
  <div class="row justify-content-cenetr">
    <div class="col-md-2 col-12 pt-5">

      <h2>投稿する</h2>
      <%= form_with model: @post, url: posts_path do |f| %>
        <div class="form-group">
          <%= f.text_field :title, autofocus: true, placeholder: 'タイトル', class: "form-control a", id: "text" %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, placeholder: '投稿内容を入力してください', class: "form-control", size: "40x10" %>
        </div>
        <% if user_signed_in? %>
          <%= f.submit "投稿する", class: "btn btn-outline-success btn-block btn-success size" %>
        <% else %>
          <%= link_to "ユーザー登録して投稿する", new_user_registration_path, class: "btn btn-outline-success btn-block btn-success size" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 col-12 center-position mt-5">
      <div class="error_message">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <h2>SNS相談一覧(全<%= @count %>件)</h2>
      <div id="posts_area">
        <%= render 'user/posts/index', posts: @posts %>
      </div>
      <%= paginate @posts %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>