<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2 col-12 pt-5">
      <% if user_signed_in? %>
        <h2>コメントする</h2>
        <%= form_with(model:[@post, @comment], local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, placeholder: 'コメントを入力してください', class: "form-control", size: "40x10" %>
        </div>
          <%= f.hidden_field :post_id, value: @post.id  %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "コメントする", class: "btn btn-outline-success btn-block btn-success size" %>
        <% end %>
      <% else %>
        <%= link_to "ユーザー登録してコメントする", new_user_registration_path, class: "btn btn-outline-success btn-block btn-success size" %>
      <% end %>
    </div>
    <div class="col-md-8 col-12 mt-5 pl-5">
      <div class="error_message">
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <div class="post-show">
        <div>
          <p><%= attachment_image_tag @post.user, :image, :fill, 60, 60, fallback: "no_image.jpg", class: "img post_image_factorybot" %></p>
        </div>
        <div class="pl-5">
          <p class="color"><%= @post.user.full_name %></p>
          <p><%= @post.created_at.to_s(:datetime_jp) %></p>
        </div>
      </div>
      <p class="post-title">タイトル：<%= @post.title %></p>
      <p><%= @post.content %></p>
      <p class="stick"></p>

      <h4>コメント(全<%= @count %>件)</h4>
      <% @comments.each do |comment| %>
      <div class="post-show">
        <div>
          <p><%= attachment_image_tag comment.user, :image, :fill, 60, 60, fallback: "no_image.jpg", class: "img img-size comment_image_factorybot" %></p>
        </div>
        <div class="pl-5">
          <p class="color"><%= comment.user.full_name %></p>
          <p><%= comment.created_at.to_s(:datetime_jp) %></p>
        </div>
      </div>
        <div class="comments">
          <p class="comment-text"><%= comment.comment %></p>
          <div>
          <% if user_signed_in? && (comment.user_id == current_user.id) %>
            <%= link_to "削除", post_comment_path(@post, comment), method: :delete, class: "text-danger p" %>
          <% end %>
          </div>
        </div>
        <div id="like_buttons_<%= comment.id %>" class="likes">
      　　<%= render "user/likes/new", comment: comment %>
      　</div>
      　<p class="stick-comment"></p>
      <% end %>
      <%= paginate @comments %>
      </div>
      <div class="col-md-2"></div>
    </div>
</div>