<h2>投稿詳細</h2>
<%= @post.content %>
<%= @post.user.full_name %>

<h2>コメント一覧</h2>
<div id="comments_area">
  <%= render 'comments/comments', comments: @comments %>
</div>

<h2>コメントする</h2>
<%= form_with model: @comment, url: post_comments_path, do |f| %>
  <%= f.text_area :comment, placeholder: 'コメントを入力してください' %>
  <%= f.hidden_field :post_id, value: @post.id  %>
  <%= f.submit "コメントする", class: "btn btn-outline-success btn-block btn-success" %>
<% end %>