<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
      <div class="col-md-8 mt-5">
        <h3 class="center-position"><%= @user.full_name %>さんの会員詳細</h3>
        <table class="table">
          <tr>
            <th>会員ID</th>
            <th><%= @user.id %></th>
            <th></th>
          </tr>
          <tr>
            <th>氏名</th>
            <th colspan="2"><%= @user.last_name %><%= @user.first_name %></th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <th colspan="2"><%= @user.last_name_kana %><%= @user.first_name_kana %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th colspan="2"><%= @user.email %></th>
          </tr>
          <tr>
            <th>会員ステータス</th>
            <th>
              <% if @user.is_active==true %>
              <p class="text-success">有効</p>
              <% else %>
              <p class="text-danger">退会</p>
              <% end %>
            </th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th class="list-button"><%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-outline-success btn-block btn-success size" %></th>
          </tr>
        </table>
      </div>
    <div class="col-md-2"></div>
  </div>
</div>