<h4>サイト内投稿一覧<span>（全<%= PostRecipe.count %>件）</span></h4>
  <div>
    <% @post_recipes.each do |post_recipe| %>
    <div>
      <p>
        <%= link_to post_recipe_path(post_recipe.id) do %>
          <%= attachment_image_tag post_recipe, :image, :fill, 200, 140, fallback: "no_image.jpg" %>
        <% end %>
      </p>
      <p><%= link_to post_recipe.title, post_recipe_path(post_recipe.id) %></p>
    </div>
    <% end %>
  </div>
<%= paginate @post_recipes %>