<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5 center-position">
    <h2>新規会員登録</h2>
    <%= form_with(model: resource, url: registration_path(resource_name),local: true) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
    <table class="table">
      <tr>
        <th>名前</th>
        <th>（姓）<%= f.text_field :last_name, autofocus: true, placeholder:"令和", class: "input rounded" %></th>
        <th>（名）<%= f.text_field :first_name, autofocus: true, placeholder:"道子", class: "input rounded" %></th>
      </tr>

      <tr>
        <th>フリガナ</th>
        <th>（セイ）<%= f.text_field :last_name_kana, autofocus: true, placeholder:"レイワ" , class: "rounded" %></th>
        <th>（メイ）<%= f.text_field :first_name_kana, autofocus: true, placeholder:"ミチコ", class: "rounded"  %></th>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <th>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", class: "rounded" %>
        </th>
      </tr>

      <tr>
        <th>
          パスワード
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </th>
        <th>
          <%= f.password_field :password, autocomplete: "new-password", class: "rounded" %>
        </th>
      </tr>
      <tr>
        <th>パスワード（確認用）</th>
        <th>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded" %>
        </th>
      </tr>

      <tr>
        <th></th>
        <th>
          <div class="actions">
            <%= f.submit "新規登録", class: 'btn btn-primary button-size size btn-block mx-auto mt-5' %>
          </div>
        </th>
      </tr>
    </table>
    <% end %>
    <h3>既に登録済みの方</h3>
    <p class="kana"><%= link_to "こちら",new_user_session_path %> からログインしてください</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

